.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,body, #root {
  height: 100%;
}

.Container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(10, 8%);
  height: 100%;
  gap: 10px;
  box-sizing: 100%;
  padding: 20px 20px 20px 20px;
}

.ChatLog {
  grid-column: 1 / span 5;
  grid-row: 1 / span 9;
  overflow-y: scroll;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
}

.ChatNewMessage {
  grid-column: 1 / span 4;
  grid-row: 10 / span 1;
}

.ChatSendMessage {
  grid-column: 5 / span 1;
  grid-row: 10 / span 1;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatSendMessage:hover {
  box-shadow: inset 0 0 0 1px black;
  cursor: pointer;
}

.ChatBubble-Server {
  background-color: green;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 8px 8px 8px;
}

.ChatBubble-Girl {
  background-color: pink;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 8px 8px 8px;
}


.ChatBubble-Boy {
  background-color: skyblue;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 8px 8px 8px;
}

